[Unit]
Description=Ratatoskr Telegram <-> Kafka Bridge
After=network.target

[Service]
Type=simple
Environment=TELEGRAM_BOT_TOKEN=__TELEGRAM_BOT_TOKEN__
ExecStart=__HOME__/.cargo/bin/ratatoskr serve
WorkingDirectory=__REMOTE_PATH__/
Restart=always
RestartSec=5
User=__USER__
Group=__USER__

# Logging
StandardOutput=journal
StandardError=journal
SyslogIdentifier=ratatoskr

[Install]
WantedBy=multi-user.target 