[Unit]
Description=Ratatoskr Telegram <-> Kafka Bridge
After=network.target

[Service]
Type=simple
EnvironmentFile=/home/divan/src/ratatoskr/.env
ExecStart=/home/divan/.cargo/bin/ratatoskr serve
WorkingDirectory=/home/divan/src/ratatoskr/
Restart=always
RestartSec=5
User=divan
Group=divan

# Logging
StandardOutput=journal
StandardError=journal
SyslogIdentifier=ratatoskr

[Install]
WantedBy=multi-user.target
